<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Smoldering</key>
	<dict>
		<key>name</key>
		<string>Smoldering</string>
		<key>element</key>
		<integer>1</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>25</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Flamethrower</key>
	<dict>
		<key>name</key>
		<string>Flamethrower</string>
		<key>element</key>
		<integer>1</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>35</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>4</integer>
		<key>statusChangerAccuracy</key>
		<real>0.15</real>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Firespin</key>
	<dict>
		<key>name</key>
		<string>Firespin</string>
		<key>element</key>
		<integer>1</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>50</integer>
		<key>accuracy</key>
		<real>0.85</real>
		<key>statusChanger</key>
		<integer>4</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Sick Burn</key>
	<dict>
		<key>name</key>
		<string>Sick Burn</string>
		<key>element</key>
		<integer>1</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>60</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>4</integer>
		<key>statusChangerAccuracy</key>
		<real>0.75</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Incinerate</key>
	<dict>
		<key>name</key>
		<string>Incinerate</string>
		<key>element</key>
		<integer>1</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>90</integer>
		<key>accuracy</key>
		<real>0.8</real>
		<key>statusChanger</key>
		<integer>4</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Water Gun</key>
	<dict>
		<key>name</key>
		<string>Water Gun</string>
		<key>element</key>
		<integer>2</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>30</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Haze</key>
	<dict>
		<key>name</key>
		<string>Haze</string>
		<key>element</key>
		<integer>2</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>0</integer>
		<key>accuracy</key>
		<integer>1</integer>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>1</integer>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<true/>
	</dict>
	<key>Hydro Pump</key>
	<dict>
		<key>name</key>
		<string>Hydro Pump</string>
		<key>element</key>
		<integer>2</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>55</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Typhoon</key>
	<dict>
		<key>name</key>
		<string>Typhoon</string>
		<key>element</key>
		<integer>2</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>80</integer>
		<key>accuracy</key>
		<real>0.85</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Holy Dive</key>
	<dict>
		<key>name</key>
		<string>Holy Dive</string>
		<key>element</key>
		<integer>2</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>85</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Razor Leaf</key>
	<dict>
		<key>name</key>
		<string>Razor Leaf</string>
		<key>element</key>
		<integer>3</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>15</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Tangle</key>
	<dict>
		<key>name</key>
		<string>Tangle</string>
		<key>element</key>
		<integer>3</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>35</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Seed Bomb</key>
	<dict>
		<key>name</key>
		<string>Seed Bomb</string>
		<key>element</key>
		<integer>3</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>60</integer>
		<key>accuracy</key>
		<real>0.75</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Solar Beam</key>
	<dict>
		<key>name</key>
		<string>Solar Beam</string>
		<key>element</key>
		<integer>3</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>85</integer>
		<key>accuracy</key>
		<real>0.75</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Thorn Whip</key>
	<dict>
		<key>name</key>
		<string>Thorn Whip</string>
		<key>element</key>
		<integer>3</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>85</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Discharge</key>
	<dict>
		<key>name</key>
		<string>Discharge</string>
		<key>element</key>
		<integer>4</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>15</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Thunder Smash</key>
	<dict>
		<key>name</key>
		<string>Thunder Smash</string>
		<key>element</key>
		<integer>4</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>35</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Bolts... of Lightning</key>
	<dict>
		<key>name</key>
		<string>Bolts... of Lightning</string>
		<key>element</key>
		<integer>4</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>40</integer>
		<key>accuracy</key>
		<real>0.8</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.3</real>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Volt Cannon</key>
	<dict>
		<key>name</key>
		<string>Volt Cannon</string>
		<key>element</key>
		<integer>4</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>80</integer>
		<key>accuracy</key>
		<real>0.6</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.8</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Tempest Fury</key>
	<dict>
		<key>name</key>
		<string>Tempest Fury</string>
		<key>element</key>
		<integer>4</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>90</integer>
		<key>accuracy</key>
		<real>0.85</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.2</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Peck</key>
	<dict>
		<key>name</key>
		<string>Peck</string>
		<key>element</key>
		<integer>5</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>20</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Barrel Roll</key>
	<dict>
		<key>name</key>
		<string>Barrel Roll</string>
		<key>element</key>
		<integer>5</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>0</integer>
		<key>accuracy</key>
		<integer>1</integer>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>1</integer>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<true/>
	</dict>
	<key>Air Slash</key>
	<dict>
		<key>name</key>
		<string>Air Slash</string>
		<key>element</key>
		<integer>5</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>65</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Talon Cyclone</key>
	<dict>
		<key>name</key>
		<string>Talon Cyclone</string>
		<key>element</key>
		<integer>5</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>75</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Oblivion Wing</key>
	<dict>
		<key>name</key>
		<string>Oblivion Wing</string>
		<key>element</key>
		<integer>5</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>90</integer>
		<key>accuracy</key>
		<real>0.8</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.5</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Cold Sweat</key>
	<dict>
		<key>name</key>
		<string>Cold Sweat</string>
		<key>element</key>
		<integer>6</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>30</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>6</integer>
		<key>statusChangerAccuracy</key>
		<real>0.01</real>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>OoOoOoOoOo</key>
	<dict>
		<key>name</key>
		<string>OoOoOoOoOo</string>
		<key>element</key>
		<integer>6</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>30</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>3</integer>
		<key>statusChangerAccuracy</key>
		<real>0.15</real>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Nightmare</key>
	<dict>
		<key>name</key>
		<string>Nightmare</string>
		<key>element</key>
		<integer>6</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>65</integer>
		<key>accuracy</key>
		<real>0.85</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>The Grudge</key>
	<dict>
		<key>name</key>
		<string>The Grudge</string>
		<key>element</key>
		<integer>6</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>70</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.4</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Possess</key>
	<dict>
		<key>name</key>
		<string>Possess</string>
		<key>element</key>
		<integer>6</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>85</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>3</integer>
		<key>statusChangerAccuracy</key>
		<real>0.65</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Zen Headbutt</key>
	<dict>
		<key>name</key>
		<string>Zen Headbutt</string>
		<key>element</key>
		<integer>7</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>15</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Disable</key>
	<dict>
		<key>name</key>
		<string>Disable</string>
		<key>element</key>
		<integer>7</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>20</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.75</real>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>There is no spoon</key>
	<dict>
		<key>name</key>
		<string>There is no spoon</string>
		<key>element</key>
		<integer>7</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>0</integer>
		<key>accuracy</key>
		<integer>1</integer>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>1</integer>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<true/>
	</dict>
	<key>Psionic Blast</key>
	<dict>
		<key>name</key>
		<string>Psionic Blast</string>
		<key>element</key>
		<integer>7</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>75</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>3</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Force Choke</key>
	<dict>
		<key>name</key>
		<string>Force Choke</string>
		<key>element</key>
		<integer>7</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>100</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Classic Rock</key>
	<dict>
		<key>name</key>
		<string>Classic Rock</string>
		<key>element</key>
		<integer>8</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>25</integer>
		<key>accuracy</key>
		<real>0.75</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Bulldoze</key>
	<dict>
		<key>name</key>
		<string>Bulldoze</string>
		<key>element</key>
		<integer>8</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>35</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Sandstorm</key>
	<dict>
		<key>name</key>
		<string>Sandstorm</string>
		<key>element</key>
		<integer>8</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>45</integer>
		<key>accuracy</key>
		<real>0.8</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.35</real>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Fraking</key>
	<dict>
		<key>name</key>
		<string>Fraking</string>
		<key>element</key>
		<integer>8</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>70</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Tectonic Shift</key>
	<dict>
		<key>name</key>
		<string>Tectonic Shift</string>
		<key>element</key>
		<integer>8</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>90</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Sweeping Axe Kick</key>
	<dict>
		<key>name</key>
		<string>Sweeping Axe Kick</string>
		<key>element</key>
		<integer>9</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>20</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Triangle Choke</key>
	<dict>
		<key>name</key>
		<string>Triangle Choke</string>
		<key>element</key>
		<integer>9</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>25</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.9</real>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Sky Uppercut</key>
	<dict>
		<key>name</key>
		<string>Sky Uppercut</string>
		<key>element</key>
		<integer>9</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>60</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.01</real>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Beard</key>
	<dict>
		<key>name</key>
		<string>Beard</string>
		<key>element</key>
		<integer>9</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>70</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>3</integer>
		<key>statusChangerAccuracy</key>
		<real>0.4</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Chuck-House</key>
	<dict>
		<key>name</key>
		<string>Chuck-House</string>
		<key>element</key>
		<integer>9</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>90</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.01</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Back Stab</key>
	<dict>
		<key>name</key>
		<string>Back Stab</string>
		<key>element</key>
		<integer>10</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>25</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Eviscerate</key>
	<dict>
		<key>name</key>
		<string>Eviscerate</string>
		<key>element</key>
		<integer>10</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>40</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Knee Cap</key>
	<dict>
		<key>name</key>
		<string>Knee Cap</string>
		<key>element</key>
		<integer>10</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>60</integer>
		<key>accuracy</key>
		<real>0.75</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.75</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Taint Kick</key>
	<dict>
		<key>name</key>
		<string>Taint Kick</string>
		<key>element</key>
		<integer>10</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>80</integer>
		<key>accuracy</key>
		<real>0.85</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Curb Stomp</key>
	<dict>
		<key>name</key>
		<string>Curb Stomp</string>
		<key>element</key>
		<integer>10</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>95</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>2</integer>
		<key>statusChangerAccuracy</key>
		<real>0.25</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Elemental Blast</key>
	<dict>
		<key>name</key>
		<string>Elemental Blast</string>
		<key>element</key>
		<integer>11</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>25</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>3</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Outrage</key>
	<dict>
		<key>name</key>
		<string>Outrage</string>
		<key>element</key>
		<integer>11</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>30</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Devour</key>
	<dict>
		<key>name</key>
		<string>Devour</string>
		<key>element</key>
		<integer>11</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>60</integer>
		<key>accuracy</key>
		<real>0.8</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.5</real>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Hoard</key>
	<dict>
		<key>name</key>
		<string>Hoard</string>
		<key>element</key>
		<integer>11</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>0</integer>
		<key>accuracy</key>
		<integer>0</integer>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>1</integer>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<true/>
	</dict>
	<key>BURNiNATE</key>
	<dict>
		<key>name</key>
		<string>BURNiNATE</string>
		<key>element</key>
		<integer>11</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>95</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>4</integer>
		<key>statusChangerAccuracy</key>
		<real>0.2</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Pull My Tail</key>
	<dict>
		<key>name</key>
		<string>Pull My Tail</string>
		<key>element</key>
		<integer>12</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>10</integer>
		<key>accuracy</key>
		<real>0.85</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.7</real>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Poison Spit</key>
	<dict>
		<key>name</key>
		<string>Poison Spit</string>
		<key>element</key>
		<integer>12</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>40</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Acid</key>
	<dict>
		<key>name</key>
		<string>Acid</string>
		<key>element</key>
		<integer>12</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>40</integer>
		<key>accuracy</key>
		<real>0.8</real>
		<key>statusChanger</key>
		<integer>4</integer>
		<key>statusChangerAccuracy</key>
		<real>0.5</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Venomous Fang</key>
	<dict>
		<key>name</key>
		<string>Venomous Fang</string>
		<key>element</key>
		<integer>12</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>80</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.6</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Decay</key>
	<dict>
		<key>name</key>
		<string>Decay</string>
		<key>element</key>
		<integer>12</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>50</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.99</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>String Shot</key>
	<dict>
		<key>name</key>
		<string>String Shot</string>
		<key>element</key>
		<integer>13</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>15</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Butt Light</key>
	<dict>
		<key>name</key>
		<string>Butt Light</string>
		<key>element</key>
		<integer>13</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>0</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>3</integer>
		<key>statusChangerAccuracy</key>
		<real>0.99</real>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Mega Horn</key>
	<dict>
		<key>name</key>
		<string>Mega Horn</string>
		<key>element</key>
		<integer>13</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>55</integer>
		<key>accuracy</key>
		<real>0.8</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Malaria</key>
	<dict>
		<key>name</key>
		<string>Malaria</string>
		<key>element</key>
		<integer>13</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>10</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.99</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Infestation</key>
	<dict>
		<key>name</key>
		<string>Infestation</string>
		<key>element</key>
		<integer>13</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>85</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>1</integer>
		<key>statusChangerAccuracy</key>
		<real>0.4</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Screech</key>
	<dict>
		<key>name</key>
		<string>Screech</string>
		<key>element</key>
		<integer>14</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>15</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Gear Grind</key>
	<dict>
		<key>name</key>
		<string>Gear Grind</string>
		<key>element</key>
		<integer>14</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>35</integer>
		<key>accuracy</key>
		<real>0.85</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
		<key>New item</key>
		<string></string>
	</dict>
	<key>Iron Jaw</key>
	<dict>
		<key>name</key>
		<string>Iron Jaw</string>
		<key>element</key>
		<integer>14</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>60</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Magnet Bomb</key>
	<dict>
		<key>name</key>
		<string>Magnet Bomb</string>
		<key>element</key>
		<integer>14</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>75</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.15</real>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Bullet Punch</key>
	<dict>
		<key>name</key>
		<string>Bullet Punch</string>
		<key>element</key>
		<integer>14</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>95</integer>
		<key>accuracy</key>
		<real>0.75</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Chill Out</key>
	<dict>
		<key>name</key>
		<string>Chill Out</string>
		<key>element</key>
		<integer>15</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>15</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>6</integer>
		<key>statusChangerAccuracy</key>
		<real>0.2</real>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Blizzard</key>
	<dict>
		<key>name</key>
		<string>Blizzard</string>
		<key>element</key>
		<integer>15</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>35</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>6</integer>
		<key>statusChangerAccuracy</key>
		<real>0.05</real>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Arctic Blast</key>
	<dict>
		<key>name</key>
		<string>Arctic Blast</string>
		<key>element</key>
		<integer>15</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>50</integer>
		<key>accuracy</key>
		<real>0.8</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Icicle Lance</key>
	<dict>
		<key>name</key>
		<string>Icicle Lance</string>
		<key>element</key>
		<integer>15</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>80</integer>
		<key>accuracy</key>
		<real>0.85</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.4</real>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Avalanche</key>
	<dict>
		<key>name</key>
		<string>Avalanche</string>
		<key>element</key>
		<integer>15</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>95</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>6</integer>
		<key>statusChangerAccuracy</key>
		<real>0.3</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Tackle</key>
	<dict>
		<key>name</key>
		<string>Tackle</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>20</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>30</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Take Down</key>
	<dict>
		<key>name</key>
		<string>Take Down</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>40</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Slam</key>
	<dict>
		<key>name</key>
		<string>Slam</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>80</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Upwind</key>
	<dict>
		<key>name</key>
		<string>Upwind</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>0</integer>
		<key>accuracy</key>
		<integer>1</integer>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>1</integer>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<true/>
	</dict>
	<key>Comet Punch</key>
	<dict>
		<key>name</key>
		<string>Comet Punch</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<true/>
		<key>power</key>
		<integer>100</integer>
		<key>accuracy</key>
		<real>0.6</real>
		<key>statusChanger</key>
		<integer>3</integer>
		<key>statusChangerAccuracy</key>
		<real>0.2</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Scratch</key>
	<dict>
		<key>name</key>
		<string>Scratch</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>20</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>25</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Headbutt</key>
	<dict>
		<key>name</key>
		<string>Headbutt</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>35</integer>
		<key>accuracy</key>
		<real>0.9</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>20</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Bite</key>
	<dict>
		<key>name</key>
		<string>Bite</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>50</integer>
		<key>accuracy</key>
		<real>0.99</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>15</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Skull Bash</key>
	<dict>
		<key>name</key>
		<string>Skull Bash</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>75</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>0</integer>
		<key>statusChangerAccuracy</key>
		<integer>0</integer>
		<key>pp</key>
		<integer>10</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
	<key>Trample</key>
	<dict>
		<key>name</key>
		<string>Trample</string>
		<key>element</key>
		<integer>0</integer>
		<key>special</key>
		<false/>
		<key>power</key>
		<integer>100</integer>
		<key>accuracy</key>
		<real>0.95</real>
		<key>statusChanger</key>
		<integer>5</integer>
		<key>statusChangerAccuracy</key>
		<real>0.1</real>
		<key>pp</key>
		<integer>5</integer>
		<key>targetSelf</key>
		<false/>
	</dict>
</dict>
</plist>
