<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<integer>1</integer>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<real>1.1</real>
		<key>health</key>
		<real>1.1</real>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<real>1.1</real>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<integer>1</integer>
		<key>defense</key>
		<real>1.1</real>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<real>1.1</real>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<real>1.2</real>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<real>1.1</real>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<real>0.9</real>
		<key>spAttack</key>
		<integer>1</integer>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>2</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<integer>1</integer>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<real>0.9</real>
		<key>speed</key>
		<real>1.1</real>
		<key>agility</key>
		<real>1.1</real>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<real>1.1</real>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<real>1.2</real>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<real>0.9</real>
		<key>speed</key>
		<real>1.1</real>
		<key>agility</key>
		<real>1.1</real>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<integer>1</integer>
		<key>defense</key>
		<real>1.2</real>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<real>1.1</real>
		<key>speed</key>
		<real>0.9</real>
		<key>agility</key>
		<real>0.9</real>
	</dict>
	<dict>
		<key>attack</key>
		<real>1.2</real>
		<key>spAttack</key>
		<integer>1</integer>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<real>1.1</real>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<real>1.1</real>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<real>1.1</real>
		<key>spAttack</key>
		<real>1.1</real>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<real>1.1</real>
		<key>spAttack</key>
		<integer>1</integer>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<real>1.1</real>
		<key>health</key>
		<real>1.1</real>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<real>1.1</real>
		<key>defense</key>
		<integer>1</integer>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<real>1.2</real>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<integer>1</integer>
		<key>defense</key>
		<real>1.1</real>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<real>0.9</real>
		<key>agility</key>
		<real>0.9</real>
	</dict>
	<dict>
		<key>attack</key>
		<integer>1</integer>
		<key>spAttack</key>
		<real>1.1</real>
		<key>defense</key>
		<real>1.1</real>
		<key>spDefense</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>1</integer>
		<key>agility</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
