<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>issey</string>
	<string>izard</string>
	<string>toise</string>
	<string>asaur</string>
	<string>achu</string>
	<string>eot</string>
	<string>gar</string>
	<string>kazam</string>
	<string>dude</string>
	<string>eon</string>
	<string>adose</string>
	<string>uk</string>
	<string>free</string>
	<string>yx</string>
	<string>karp</string>
	<string>anine</string>
</array>
</plist>
